@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital@1&display=swap');
body{
    font-family: 'Comic Neue', cursive;
    background: #fff3d0;
}

.header_div{
    background: #f8ffc9;
    color: red;
    /* font-weight: bold; */
}

.header_div h2{
    font-weight: bold;
    text-shadow: 2.5px 2px 5px rgb(255, 200, 200);
}

.header_div p{
    /* font-family: 'Comic Neue', cursive; */
    color: gray;
    letter-spacing: 2px;
    font-size: 16px;
    font-weight: bold;
}

.main_div button{
    font-family: 'Comic Neue', cursive;
    font-size: 24px;
    margin-top: 30px;
    width: 130px;
    height: 48px;
    border-radius: 14px;
    font-weight: bolder;
    letter-spacing: 2px;
    text-shadow: 2.5px 2px 5px rgb(172, 172, 172);
}

.copy_right_footer{
    position: fixed;
    color: #6c757d;
    bottom: 0%;
    width: 100%;
    font-size: 16px;
    background-color: white;
    line-height: 3;
    text-align: center;
    text-shadow: 4px 4px 5px rgb(151, 149, 149);
}

.main_div h3{
    width: max-content;
    background-color: #f0fcc5;
}

.main_div h4    {
    width: max-content;
    background-color: #f0fcc5;
}